<template>
  <div class="editor-wrapper">
    <div ref="editorContainer" class="rich-content-container" />

    <EditorToolbar ref="editorToolbar" @command="runCommand($event)" />
  </div>
</template>

<script>
import { EditorView } from './editor-views';
import EditorToolbar from './toolbar';

export default {
  name: 'Editor',
  components: { EditorToolbar },
  props: {
    value: {
      type: String,
      default: null
    }
  },

  watch: {
    value() {
      this.editor.content = this.value;
    }
  },

  mounted() {
    this.editor = new EditorView({
      container: this.$refs.editorContainer,
      tooltip: this.$refs.editorToolbar.$refs.container,
      content: this.value,
      onChange: () => this.$emit('input', this.editor.content)
    });

    window.editor = this.editor;
  },

  beforeDestroy() {
    this.editor.destroy();
  },

  methods: {
    runCommand(commandName) {
      this.editor.runCommand(commandName);
    }
  }
};
</script>

<style lang="scss">
  @import "styles.scss";

  .editor-wrapper { position: relative }
</style>
