.rich-content-container {
  p { margin: 0.5rem 0 }
  p:first-child { margin-top: 0 }
  p:last-child { margin-bottom: 0 }

  .ProseMirror {
    outline: 0;
    white-space: pre-wrap;

    p { font-size: 14px }
    h6 { font-size: 18px }
    h5 { font-size: 24px }
    h4 { font-size: 28px }
    h3 { font-size: 32px }
    h2 { font-size: 40px }
    h1 { font-size: 54px }

    h1, h2, h3 { margin: 1rem 0 }
    h4, h5, h6, p { margin: 0.5rem 0}

    h1, h2, h3, h4, h5, h6, p { color: #000 }
  }

  border: 2px solid #888;
  border-radius: 5px;
  padding: 7px;

  p {
    line-height: normal;
  }
}
