<template>
  <div ref="container" class="editor-toolbar">
    <div class="editor-toolbar__buttons">
      <div class="editor-toolbar__button-group editor-toolbar__button-group_icons">
        <button class="editor-toolbar__button" type="button" @click="onButtonClick('undo')">
          <MdIcon icon="undo" />
        </button>
        <button class="editor-toolbar__button" type="button" @click="onButtonClick('redo')">
          <MdIcon icon="redo" />
        </button>
      </div>

      <div class="editor-toolbar__button-group editor-toolbar__button-group_icons">
        <button class="editor-toolbar__button" type="button" @click="onButtonClick('bold')">
          <MdIcon icon="format_bold" />
        </button>
        <button class="editor-toolbar__button" type="button" @click="onButtonClick('italic')">
          <MdIcon icon="format_italic" />
        </button>
      </div>

      <div class="editor-toolbar__button-group editor-toolbar__button-group_icons">
        <button class="editor-toolbar__button" type="button" @click="onButtonClick('alignLeft')">
          <MdIcon icon="format_align_left" />
        </button>
        <button class="editor-toolbar__button" type="button" @click="onButtonClick('alignCenter')">
          <MdIcon icon="format_align_center" />
        </button>
        <button class="editor-toolbar__button" type="button" @click="onButtonClick('alignRight')">
          <MdIcon icon="format_align_right" />
        </button>
      </div>

      <div class="editor-toolbar__button-group editor-toolbar__button-group_text">
        <button class="editor-toolbar__button"
          type="button"
          @click="onButtonClick('normalParagraph')">
          P
        </button>
        <button class="editor-toolbar__button" type="button" @click="onButtonClick('heading1')">
          H1
        </button>
        <button class="editor-toolbar__button" type="button" @click="onButtonClick('heading2')">
          H2
        </button>
        <button class="editor-toolbar__button" type="button" @click="onButtonClick('heading3')">
          H3
        </button>
        <button class="editor-toolbar__button" type="button" @click="onButtonClick('heading4')">
          H4
        </button>
        <button class="editor-toolbar__button" type="button" @click="onButtonClick('heading5')">
          H5
        </button>
        <button class="editor-toolbar__button" type="button" @click="onButtonClick('heading6')">
          H6
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'EditorToolbar',

  methods: {
    onButtonClick(cmd) {
      this.$emit('command', cmd);
    }
  }
};
</script>

<style lang="scss">
  @import "../styles/vars";

  $button_border_radius: 0.6rem;

  .editor-toolbar {
    position: absolute;
    z-index: 2;
    display: none;

    width: 20rem;
    height: 5rem;

    background: $--color-white;

    border: 1px solid $--color-text-primary;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 1rem $--color-text-secondary;

    &__buttons {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-content: space-evenly;

      height: 100%;
    }

    &__button-group {
      display: flex;

      &_text {
        button {
          font-size: 22px;
          line-height: 22px;
        }
      }

      &_icons {
        button { font-size: 16px }
      }
    }

    &__button {
      display: block;

      background: none;
      border: 1px solid $--color-text-primary;
      color: $--color-text-primary;
      border-left-width: 0;

      &:first-child {
        border-left-width: 1px;
        border-radius: $button_border_radius 0 0 $button_border_radius;
      }

      &:last-child {
        border-radius: 0 $button_border_radius $button_border_radius 0;
      }

      &:hover, &:active, &:focus {
        outline: none;
      }

      &::-moz-focus-inner {
        outline: none;
      }

      &:active {
        position: relative;
        top: 1px;
      }
    }
  }
</style>
