<template>
  <div ref="viewerContainer" class="rich-content-container" />
</template>

<script>
import { ViewerView } from './editor-views';

export default {
  name: 'Viewer',

  props: {
    value: {
      type: String,
      default: null
    }
  },

  watch: {
    value() {
      this.viewer.content = this.value;
    }
  },

  mounted() {
    this.viewer = new ViewerView({
      container: this.$refs.viewerContainer,
      content: this.value
    });
  }
};
</script>

<style lang="scss">
  @import "styles.scss";
</style>
