<template>
  <div>
    <el-form v-if="note">
      <el-form-item>
        <el-input v-model="note.title" placeholder="Title" />
      </el-form-item>

      <el-form-item>
        <Editor v-model="note.body" />
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { mapGetters, mapState, mapActions } from 'vuex';
import Editor from '../editor/editor';

export default {
  name: 'NoteEditPage',

  components: { Editor },

  props: {
    noteId: {
      type: String,
      default: null
    }
  },

  computed: {
    ...mapState('notes', { note: 'currentNote' }),
    ...mapGetters('notes', ['getNote'])
  },

  async mounted() {
    const note = this.getNote(this.noteId);
    await this.open({ note });
  },

  methods: {
    ...mapActions('notes', ['open'])
  }
};
</script>

<style scoped>

</style>
