<template>
  <div v-if="note">
    <el-button circle type="success" title="Save" @click="onSave()">
      <md-icon icon="save" />
    </el-button>

    <el-button circle type="danger" title="Close" @click="onClose()">
      <md-icon icon="cancel" />
    </el-button>

    <el-button v-if="!note.publicName"
      circle type="primary" title="Publish"
      @click="onPublish()">
      <md-icon icon="screen_share" />
    </el-button>

    <el-tooltip v-if="note.publicName" effect="light">
      <el-button
        circle type="primary" title="Unpublish"
        @click="onUnpublish()">
        <md-icon icon="stop_screen_share" />
      </el-button>

      <template slot="content">
        <a :href="publicUrl(note)" target="_blank">{{ publicUrl(note) }}</a>
      </template>
    </el-tooltip>

    <el-dropdown
      v-if="note.versions && note.versions.length"
      class="note-toolbar__versions"
      trigger="click"
      @command="onGoToOtherNote">
      <el-button circle title="Other versions of this note">
        <md-icon icon="view_list" />
      </el-button>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item
          v-for="otherNote in noteVersions(note)"
          :key="otherNote.id"
          :command="otherNote.id">
          From <strong>{{ otherNote.modifiedBy.name }}</strong>
        </el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
  </div>
</template>

<script>
import _ from 'lodash';
import { mapState, mapActions, mapGetters } from 'vuex';

export default {
  name: 'NoteEditToolbar',

  computed: {
    ...mapState('notes', { note: 'currentNote' }),
    ...mapGetters('notes', ['getNote'])
  },

  methods: {
    ...mapActions('notes', ['close', 'add', 'update', 'publish', 'unpublish']),

    noteVersions(note) {
      return _.map(note.versions, this.getNote.bind(this));
    },

    publicUrl(note) {
      const { protocol, host } = window.location;
      const path = this.$router.resolve(`/notes/${note.publicName}`).href;
      return `${protocol}//${host}/${path}`;
    },

    async onSave() {
      const data = { note: this.note };
      await (this.note.id ? this.update(data) : this.add(data));
      await this.goToList();
    },

    onClose() {
      return this.goToList();
    },

    async onPublish() {
      await this.publish();
    },

    async onUnpublish() {
      await this.unpublish();
    },

    onGoToOtherNote(noteId) {
      this.$router.push(`/notes/edit/${noteId}`);
    },

    async goToList() {
      await this.close();
      this.$router.push('/notes');
    }
  }
};
</script>

<style lang="scss" scoped>
  .note-toolbar__versions {
    margin-left: 1rem;
  }
</style>
