<template>
  <div>
    <div v-if="note" class="note">
      <h1>{{ note.title }}</h1>
      <Viewer v-if="note" v-model="note.body" />
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import NotesApi from '../../api/notes-api';
import Viewer from '../editor/viewer';

export default {
  name: 'NoteViewPage',

  components: { Viewer },

  props: {
    notePublicName: {
      type: String,
      default: null
    }
  },

  computed: {
    ...mapState('notes', { note: 'currentNote' })
  },

  async mounted() {
    const note = await NotesApi.get(this.notePublicName);
    await this.open({ note });
  },

  methods: {
    ...mapActions('notes', ['open'])
  }
};
</script>

<style scoped>

</style>
