<template>
  <div>
    <el-button circle type="primary" title="Add note" @click="onAdd">
      <md-icon icon="add" />
    </el-button>

    <el-button circle title="Reload notes" @click="onSync({ incremental: false })">
      <md-icon icon="sync" />
    </el-button>

    <el-button circle title="Sync notes" @click="onSync()">
      <md-icon icon="refresh" />
    </el-button>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'NoteListToolbar',

  methods: {
    ...mapActions('notes', { sync: 'syncTimer' }),

    async onAdd() {
      this.$router.push('/notes/new');
    },

    async onSync({ incremental = true } = {}) {
      await this.sync({ incremental });
    }
  }
};
</script>

<style scoped>

</style>
