<template>
  <div class="note-list">
    <router-link v-for="note in notes"
      :key="note.id"
      :to="`/notes/edit/${note.id}`"
      class="note-list__item">
      <el-card>
        <div class="note">
          <h2 class="note__title">
            {{ note.title }}
          </h2>

          <div class="note__space" />

          <div class="note__actions">
            <div>
              <el-tooltip v-if="note.versions.length" placement="top-start">
                <ZeroButton><md-icon icon="info" /></ZeroButton>
                <div slot="content">
                  There are other versions of this note<br>
                  This note from <b>{{ note.modifiedBy.name }}</b>
                </div>
              </el-tooltip>
            </div>

            <div>
              <el-button circle @click.stop.prevent="onRemove(note)">
                <md-icon icon="delete" />
              </el-button>
            </div>
          </div>
        </div>
      </el-card>
    </router-link>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'NoteListPage',

  computed: {
    ...mapGetters('notes', { notes: 'localNotes' })
  },

  methods: {
    ...mapActions('notes', ['remove']),

    async onAdd() {
      this.$router.push('/notes/new');
    },

    async onRemove(note) {
      await this.remove({ note });
    }
  }
};
</script>

<style lang="scss" scoped>
  @import "../styles/vars";

  .note-list {
    display: flex;
    flex-flow: row wrap;

    &__item {
      margin: 2rem 2rem 0 0;

      @media (max-width: ($screen_tablet_width - 1)) {
        margin: 1rem 1rem 0 0;

        /deep/ .el-card__body {
          padding: 0.5rem;
        }
      }
    }
  }

  .note {
    height: 12rem;
    min-width: 10rem;

    @media (max-width: ($screen_tablet_width - 1)) {
      min-width: 6rem;
      height: 9rem;
    }

    display: flex;
    flex-flow: column nowrap;

    &__space {
      flex-grow: 1;
    }

    &__actions {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
</style>
