<template>
  <div class="page">
    <div v-if="showToolbar" class="page__toolbar">
      <div class="toolbar">
        <div class="toolbar__buttons">
          <h2 v-if="needAuth">
            Please sign in
          </h2>
          <router-view v-if="!needAuth" :key="$route.fullPath" name="toolbar" />
        </div>

        <div class="toolbar__buttons">
          <el-button v-if="!needAuth" circle @click="onLogout()">
            <md-icon icon="exit_to_app" />
          </el-button>
        </div>
      </div>
    </div>

    <div class="page__main" :class="{ 'page__main_no-toolbar': !showToolbar }">
      <auth-view v-if="needAuth" />
      <router-view v-if="!needAuth" :key="$route.fullPath" />
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

import AuthView from './auth-view';

export default {
  name: 'App',

  components: { AuthView },

  computed: {
    ...mapGetters('auth', {
      userNeedAuth: 'needAuth'
    }),

    needAuth() {
      const routeNeedAuth = !!this.$route.meta.auth;
      return routeNeedAuth && this.userNeedAuth;
    },

    showToolbar() {
      return this.$route.meta.toolbar !== false;
    }
  },

  methods: {
    ...mapActions('auth', ['logout']),

    async onLogout() {
      await this.logout();
    }
  }
};
</script>

<style>
  body {
    margin: 0;
  }
</style>

<style lang="scss" scoped>
  @import "./styles/vars";

  $page_desktop_width: 63rem;

  .page {
    &__toolbar {
      position: fixed;
      z-index: 1;
      top: 0;

      width: 100vw;
      height: 4rem;
      margin: 0 0 1rem 0;

      background: $--background-color-base;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__main {
      @media (min-width: $screen_desktop_width) {
        width: $page_desktop_width;
      }

      margin: 4rem auto;
      padding: 0.5rem;

      &_no-toolbar {
        margin-top: 0;
      }
    }
  }

  .toolbar {
    display: flex;
    justify-content: space-between;

    @media (min-width: $screen_desktop_width) {
      width: $page_desktop_width;
    }

    @media (max-width: ($screen_desktop_width - 1)) {
      width: 100%;
      padding: 0 1rem;
    }

    &__buttons {
      display: flex;
    }
  }
</style>
