<template>
  <div class="auth-list">
    <button class="auth-list__item"
      title="Log in using GitHub"
      @click="onProviderClick('github')">
      <soc-icon icon="github" />
    </button>

    <button class="auth-list__item"
      title="Log in using VK"
      @click="onProviderClick('vk')">
      <soc-icon icon="vkontakte" />
    </button>
  </div>
</template>

<script>
import _ from 'lodash';
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'AuthView',

  computed: {
    ...mapGetters('auth', ['needAuth'])
  },

  created() {
    window.addEventListener('message', this.handleMessage);
  },

  beforeDestroy() {
    window.removeEventListener('message', this.handleMessage);
  },

  methods: {
    ...mapActions('auth', ['login']),

    onProviderClick(provider) {
      if (!this.needAuth) {
        return;
      }

      const apiUrl = process.env.JANA_API_URL;
      const redirectUrl = `${window.location.origin}/auth-redirect.html`;
      const authUrl = `${apiUrl}/auth/${provider}?redirectUrl=${encodeURIComponent(redirectUrl)}`;

      const options = {
        width: 800,
        height: 600,
        centerscreen: 'yes',
        menubar: 'no',
        toolbar: 'no',
        location: 'no',
        status: 'no',
        minimizable: 'no',
        resizable: 'yes'
      };

      const optionsString = _.map(options, (value, key) => `${key}=${value}`).join(',');

      window.open(authUrl, 'AuthWindow', optionsString);
    },

    async handleMessage(event) {
      if (event.origin !== window.location.origin) {
        return;
      }

      const { type, token } = event.data;
      if (type === 'Auth_Login') {
        await this.login({ token });
      }
    }
  },

  render: h => h()
};
</script>

<style lang="scss" scoped>
  @import "./styles/vars";

  .auth-list {
    display: flex;

    &__item {
      background: none;
      border: 1px solid $--color-primary;
      cursor: pointer;

      width: 3rem;
      height: 3rem;
      border-radius: 3rem;
      margin-right: 0.5rem;

      i {
        font-family: si;
        font-style: normal;
        font-size: 1.5rem;

        background: none;
        color: $--color-black;
      }

      &:hover, &:active, &:focus {
        outline: 0;
        background: $--color-primary-light-5;
      }

      &::-moz-focus-inner {
        border: 0;
      }

      &:active {
        width: 2.7rem;
        height: 2.7rem;

        i {
          font-size: 1.3rem;
        }
      }
    }
  }
</style>
