<template functional>
  <i class="material-icons">{{ props.icon }}</i>
</template>

<script>
export default {
  name: 'MdIcon',
  props: {
    icon: {
      type: String,
      required: true
    }
  }
};
</script>
