<template functional>
  <i :class="[ 'soc', `soc-${props.icon}` ]" />
</template>

<script>
export default {
  name: 'SocIcon',
  props: {
    icon: {
      type: String,
      required: true
    }
  }
};
</script>
