<template>
  <button @click.stop.prevent="onClick()">
    <slot />
  </button>
</template>

<script>
export default {
  name: 'ZeroButton',
  methods: {
    onClick() {
      this.$emit('click');
    }
  }
};
</script>

<style scoped>
  button {
    background: none;
    border: none;
  }
</style>
